.grid {
    display: flex;
    flex-wrap: wrap;
    width: 35rem;
    height: 35rem;
}

.grid div {
    width: 4.375rem;
    height: 4.375rem;
}

.score {
    display: flex;
    align-items: center;
}